:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #152f33;
  background: radial-gradient(circle at top, #e4f3f6, #f6fbfc 44%, #fefefe);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}
